---
layout: default
---
<div id="tab1" class="rock_event_tab_content">
                  <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12"> <img class="animated fadeInLeft" src="{{ service.image_path }}" alt="" /> </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                      <div class="rock_event_detail animated fadeInLeft">
                        <h1>{{ page.title }}</h1>
                        <p>{{ content }}</p>                        
                      </div>
                    </div>
                  </div>
                </div>